In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\antoi\appdata\local\programs\python\python311\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.23.2 in c:\users\antoi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\antoi\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\antoi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\antoi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\antoi\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

In [2]:
df_SO2_perX = pd.read_csv('CSV_data\GEODAIR\SO2\SO2_moy_hor_per8.csv', sep = ';')

df_SO2_perX.describe()

,valeur,valeur brute,taux de saisie,couverture temporelle,couverture de données,validité,Latitude,Longitude
count,15177.000000,15177.000000,15177.000000,15177.0,15177.000000,15177.000000,15177.000000,15177.000000
mean,6.699591,6.689434,98.309679,100.0,98.309679,0.970482,38.875831,6.582738
std,22.667210,22.667297,7.004011,0.0,7.004011,0.241183,21.768584,19.617705
min,-3.900000,-3.875000,4.000000,100.0,4.000000,-1.000000,-21.334406,-61.727203
25%,0.800000,0.833330,100.000000,100.0,100.000000,1.000000,43.401952,0.100645
50%,1.800000,1.750000,100.000000,100.0,100.000000,1.000000,47.273056,1.890080
75%,4.300000,4.275000,100.000000,100.0,100.000000,1.000000,49.487682,5.400897
max,919.600000,919.625000,100.000000,100.0,100.000000,1.000000,51.032761,55.627930

In [3]:
df_SO2_perX = pd.read_csv('CSV_data\GEODAIR\O3\O3_moy_hor.per8.csv', sep = ';')

df_SO2_perX.describe()

,valeur,valeur brute,taux de saisie,couverture temporelle,couverture de données,validité,Latitude,Longitude
count,54915.000000,54915.000000,54915.000000,54915.0,54915.000000,54915.000000,54915.000000,54915.000000
mean,77.591960,77.578829,98.523300,100.0,98.523300,0.965437,43.921851,2.385489
std,24.053999,24.054031,7.440464,0.0,7.440464,0.260637,12.356722,14.251810
min,0.100000,0.100000,4.000000,100.0,4.000000,-1.000000,-21.334406,-63.081481
25%,64.300000,64.275000,100.000000,100.0,100.000000,1.000000,44.060347,1.047892
50%,75.700000,75.725000,100.000000,100.0,100.000000,1.000000,46.652668,3.058333
75%,89.300000,89.275000,100.000000,100.0,100.000000,1.000000,48.729694,5.394716
max,206.300000,206.275000,100.000000,100.0,100.000000,1.000000,51.032761,55.582620

In [7]:
df_NO2_perX = pd.read_csv('CSV_data\GEODAIR\NO2\NO2_moy_hor_per6.csv', sep = ';')
df_SO2_perX.describe()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 16-17: malformed \N character escape (3033168396.py, line 1)